/* Fuentes */
:root {


    --bg-color: #ceb2fc;
    --bg-color-light: #f0e7ff;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);

    --hover: white;
    --text: white;
    --widget: #023859;
    --shadow: #1A2E40;
    --background: #364C59;

    --shadows: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --lightest-grey: linear-gradient(#fafafa, #ebebeb);
}

/* Para títulos */
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;

}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

/* Para texto  */

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

.tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
}

.tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
}

.tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
}


/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    width: 100vw;
    /* Ajusta el ancho al 100% del viewport */
    height: 100vh;
    /* Ajusta la altura al 100% del viewport */

    /* Para centrar el contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #e8e8e8;

}

.header-container {
    background-color: var(--widget);

    width: 80vw;

    height: 10vh;

    margin-bottom: 3%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    color: var(--hover);

    box-shadow: var(--shadows);
}

.header-container:hover {
    box-shadow: var(--shadow-active);
}

/* Para acomodar el icono del menú principal */
.header-container div:nth-child(1) {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

/* Para acomodar el icono del menú principal */
.header-container div span {
    font-size: 4rem;
}

.header-container div span:hover {
    cursor: pointer;
    color: var(--text);
}

/* Para centrar el titulo del header */
.header-container div:nth-child(2) {
    width: 60%;
    margin-right: 20%;
    font-size: 2rem;
}

.contenedor-principal {

    background: var(--lightest-grey);


    width: 80vw;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: var(--shadows);
}

.contenedor-principal:hover {
    box-shadow: var(--shadow-active);
}

.contenedor-menu {
    background-color: var(--widget);
    width: 23%;
    height: 100%;
    -webkit-box-shadow: 5px 0 12px -4.5px #1a2e40;
    -moz-box-shadow: 5px 0 12px -4.5px #1a2e40;
    box-shadow: 5px 0 12px -4.5px #1a2e40;

    transition: width 0.4s linear;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    z-index: 1; /* Asegura que el contenedor esté en un nivel superior */

}

.contenedor-apartado {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inicio de configuración de estilos para el menú principal  */
.menu {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--hover);
    margin-top: 10%;

    padding: 8px 15px;
    transition: padding 0.4s linear, justify-content 0.4s linear;
}

.menu:hover {
    color: var(--text);
    cursor: pointer;
}

.menu span {
    width: 20%;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    transition: transform 0.4s linear;
}

.menu p {
    width: 50%;
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin: 0 25% 0 5%;
    text-transform: uppercase;

    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.4s linear, margin-left 0.4s linear;

    font-size: 1.2rem;
}

/* Cuando el menú está contraído */
.contenedor-menu.contraido .menu {
    justify-content: center;
    /* Centrar los íconos */
}


/* Reducimos el ancho del menú cuando está contraído */

.contenedor-menu.contraido {
    /* width: 10%; */
    width: 0;
    align-items: center;
}

.contenedor-menu.contraido span {
    width: 100%;
    margin-top: 10%;
}

/* Cuando el menú está contraído */
.contenedor-menu.contraido .menu p {
    opacity: 0;
    /* margin-left: -100%; */
    /* Mueve el texto hacia la izquierda para ocultarlo */
    flex-grow: 0;
    /* Evita que ocupe espacio */
}

.contraido .menu p {
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin: 0;
    /* transform: translateX(-20px); */
}

/* Fin de configuración de estilos para el menú principal  */




/* Estilo del chatbot */
.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}






/* Estilos para los elements de personalización del chatbot  */
.msger-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 10px 0;
    border-bottom: var(--border);

    width: 100%;
    height: 8%;
}

.msger-header-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    background: white;
    padding: 0.5rem;
    height: 100%;
    position: relative;
    /* Necesario para el tooltip */

    background: #fff;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
}

.option {
    margin: .5rem;
    /* background-color: yellow; */

    color: var(--shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    /* Posiciona el tooltip arriba del elemento */
    background-color: var(--background);
    color: white;
    padding: 1rem;
    white-space: nowrap;
}


.option:hover .tooltip {
    display: block;
}

.option:hover p {
    display: block;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--shadow) transparent transparent transparent;
}

/* Fin de los estilos para los elementos de perzonalización del chatbot  */



.msger-chat {
    flex: 1;
    overflow-y: auto;
    /* padding: 10px; */
    width: 95%;
    height: 60%;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 1.2rem;
    background: #fff;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    color: var(--shadow);
}

.msg-bubble:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}


/* input area */
.msger-inputarea {
    display: flex;
    padding: 10px 0 10px 0;
    border-top: var(--border);
    height: 10%;
    flex-direction: row;
    width: 100%;
    background: #fff;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;

}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 0.5em;
    margin: 0 0.5rem;

}

.msger-input {
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    font-size: medium;
    color: var(--shadow);
    text-align: center;
}

input::placeholder {
    color: var(--shadow);
    /* Cambia el color del placeholder */
    opacity: 0.5;
    /* Asegura que el color se vea claramente */
}


.msger-input:focus {
    outline-color: white;
}



/* Botón */
.msger-send-btn {
    align-items: center;
    appearance: none;
    background-color: var(--widget);
    /* border-radius: 4px; */
    border-width: 0;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.msger-send-btn:hover {
    transform: translateY(-2px);
}

.msger-send-btn:active {
    transform: translateY(2px);
}



/* fondo del chat */
.material-symbols-outlined {
    cursor: pointer;
    /* Cambia el cursor a una mano al pasar el puntero */
}

/* Fin del estilo del chatbot */




/* Estilo para la tarjeta de configuración de opciones */
.brutalist-cd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: var(--shadows);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    /* width: 40vh;
    height: 30vw; */
}


.brutalist-card__header {
    width: 100%;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--widget);


    gap: 1rem;
    /* margin-bottom: 1rem; */

    /* padding-bottom: 1rem; */
    /* padding: 2rem; */
    padding: 2rem 0 2rem 0;


}

.brutalist-card__alert {
    font-weight: 900;
    /* color: #000; */
    color: var(--shadow);
    font-size: 1.5rem;
    text-transform: uppercase;

    /* background-color: blue; */
}

.brutalist-card__message {
    margin-top: 2rem;
    /* font-size: 0.9rem; */
    /* line-height: 1.4; */
    border-bottom: 2px solid var(--widget);
    padding-bottom: 2rem;
    /* padding-top: 2rem; */

    /* font-weight: 600; */
    /* background-color: purple; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.brutalist-card__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brutalist-card__button {

    align-items: center;
    appearance: none;
    background-color: var(--widget);
    /* border-radius: 4px; */
    border-width: 0;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: left;
    margin-top: 2rem;
    margin-right: 1.5rem;
    text-decoration: none;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}


.brutalist-card__button:hover {
    transform: translateY(-2px);
}

.brutalist-card__button:active {
    transform: translateY(2px);
}


.modal-select {
    width: 100%;
    text-align: center;
    padding: 2%;
    border: 2px solid var(--widget);

    color: white;
    background-color: var(--background);
    cursor: pointer;
}

/* Fin del estilo de la ventana modal  */



/* Media Querys */
/* Estilos para dispositivos muy pequeños (teléfonos en modo retrato) */
@media (max-width: 480px) {}


/* Estilos para dispositivos pequeños (teléfonos en modo paisaje) */
@media (min-width: 481px) and (max-width: 630px) {

    .header-container {
        height: 12%;



    }

    /* Cuando el menú está contraído */
    .contenedor-menu.contraido .menu {
        justify-content: center;
        /* Centrar los íconos */
    }


    /* Reducimos el ancho del menú cuando está contraído */

    .contenedor-menu.contraido {
        /* width: 10%; */
        height: 8%;
        width: 100%;
        /* align-items: center; */
    }

    .contenedor-menu.contraido span {
        width: 100%;
        margin-top: 5%;
    }

    /* Cuando el menú está contraído */
    .contenedor-menu.contraido .menu p {
        opacity: 0;
        /* margin-left: -100%; */
        /* Mueve el texto hacia la izquierda para ocultarlo */
        flex-grow: 0;
        /* Evita que ocupe espacio */
        margin-left: -100%;

    }

    .contraido .menu p {
        opacity: 0;
        visibility: hidden;
        width: 0;
        margin: 0;
        /* transform: translateX(-20px); */
    }


    .contenedor-principal {

        background: var(--lightest-grey);

        width: 80vw;
        /* Ajusta el ancho al 100% del viewport */
        height: 70vh;
        /* Ajusta la altura al 100% del viewport */

        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: var(--shadows);
    }

    .contenedor-menu {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        /* margin: 0; */


    }

    .menu {

        flex-direction: column;

        padding: 0;
        /* margin-top: 2rem; */
        /* background-color: blueviolet; */
        height: 100%;
        margin: 0;
        transition: padding 0.4s linear;

    }

    .menu p {
        /* background-color: red; */
        width: 100%;
        text-align: center;
        margin: 0;
        transition: opacity 0.4s linear, margin-left 0.4s linear;
    }


    .menu span {
        margin: 0;
        padding: 0;
        /* background-color: aqua; */
        width: 100%;
        margin-bottom: .5rem;
        transition: transform 0.4s linear;
    }


}

/* Estilos para dispositivos pequeños (teléfonos en modo paisaje) */
@media (min-width: 631px) and (max-width: 767px) {

    .menu {

        flex-direction: column;

        padding: 0;
        margin-top: 2rem;
        /* background-color: blueviolet; */

    }

    .menu p {
        /* background-color: red; */
        width: 100%;
        text-align: center;
        margin: 0;
    }


    .menu span {
        margin: 0;
        padding: 0;
        /* background-color: aqua; */
        width: 100%;
        margin-bottom: .5rem;
    }

    /* Cuando el menú está contraído */
    .contenedor-menu.contraido .menu p {
        opacity: 0;
        /* margin-left: -100%; */
        /* Mueve el texto hacia la izquierda para ocultarlo */
        flex-grow: 0;
        /* Evita que ocupe espacio */
        margin-left: -100%;
    }


}

/* Estilos para dispositivos medianos (tabletas en modo retrato) */
@media (min-width: 768px) and (max-width: 1024px) {


    .menu {

        flex-direction: column;

        padding: 0;
        margin-top: 2rem;
        /* background-color: blueviolet; */

    }

    .menu p {
        /* background-color: red; */
        width: 100%;
        text-align: center;
        margin: 0;
    }


    .menu span {
        margin: 0;
        padding: 0;
        /* background-color: aqua; */
        width: 100%;
        margin-bottom: .5rem;
    }

    /* Cuando el menú está contraído */
    .contenedor-menu.contraido .menu p {
        opacity: 0;
        /* margin-left: -100%; */
        /* Mueve el texto hacia la izquierda para ocultarlo */
        flex-grow: 0;
        /* Evita que ocupe espacio */
        margin-left: -100%;
    }



}

/* Estilos para dispositivos medianos (tabletas en modo retrato) */
@media (min-width: 1025px) {

    .menu p {

        font-size: 1.5rem;
    }

    .contenedor-menu {
       
        width: 20%;
       
    
    }



}